In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv('kidney_disease.csv')

In [3]:
df

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [4]:
to_drop = ['al','su','rbc','pc','pcc','ba','bgr','pcv','sod','pot','bu','wc','rc','htn','pe','ane']
df.drop(to_drop, inplace=True, axis=1)

In [5]:
df

      id   age    bp     sg   sc  hemo   dm cad appet classification
0      0  48.0  80.0  1.020  1.2  15.4  yes  no  good            ckd
1      1   7.0  50.0  1.020  0.8  11.3   no  no  good            ckd
2      2  62.0  80.0  1.010  1.8   9.6  yes  no  poor            ckd
3      3  48.0  70.0  1.005  3.8  11.2   no  no  poor            ckd
4      4  51.0  80.0  1.010  1.4  11.6   no  no  good            ckd
..   ...   ...   ...    ...  ...   ...  ...  ..   ...            ...
395  395  55.0  80.0  1.020  0.5  15.7   no  no  good         notckd
396  396  42.0  70.0  1.025  1.2  16.5   no  no  good         notckd
397  397  12.0  80.0  1.020  0.6  15.8   no  no  good         notckd
398  398  17.0  60.0  1.025  1.0  14.2   no  no  good         notckd
399  399  58.0  80.0  1.025  1.1  15.8   no  no  good         notckd

[400 rows x 10 columns]

In [6]:
df[:] = np.nan_to_num(df)

In [7]:
df = df.set_index('id')
df

      age    bp     sg   sc  hemo   dm cad appet classification
id
0    48.0  80.0  1.020  1.2  15.4  yes  no  good            ckd
1     7.0  50.0  1.020  0.8  11.3   no  no  good            ckd
2    62.0  80.0  1.010  1.8   9.6  yes  no  poor            ckd
3    48.0  70.0  1.005  3.8  11.2   no  no  poor            ckd
4    51.0  80.0  1.010  1.4  11.6   no  no  good            ckd
..    ...   ...    ...  ...   ...  ...  ..   ...            ...
395  55.0  80.0  1.020  0.5  15.7   no  no  good         notckd
396  42.0  70.0  1.025  1.2  16.5   no  no  good         notckd
397  12.0  80.0  1.020  0.6  15.8   no  no  good         notckd
398  17.0  60.0  1.025  1.0  14.2   no  no  good         notckd
399  58.0  80.0  1.025  1.1  15.8   no  no  good         notckd

[400 rows x 9 columns]

In [8]:
X = df.iloc[: , 1:8]

In [9]:
print(X)

       bp     sg   sc  hemo   dm cad appet
id
0    80.0  1.020  1.2  15.4  yes  no  good
1    50.0  1.020  0.8  11.3   no  no  good
2    80.0  1.010  1.8   9.6  yes  no  poor
3    70.0  1.005  3.8  11.2   no  no  poor
4    80.0  1.010  1.4  11.6   no  no  good
..    ...    ...  ...   ...  ...  ..   ...
395  80.0  1.020  0.5  15.7   no  no  good
396  70.0  1.025  1.2  16.5   no  no  good
397  80.0  1.020  0.6  15.8   no  no  good
398  60.0  1.025  1.0  14.2   no  no  good
399  80.0  1.025  1.1  15.8   no  no  good

[400 rows x 7 columns]

In [10]:
y = df.iloc[: , 8:9]

In [11]:
 print(y)

    classification
id
0              ckd
1              ckd
2              ckd
3              ckd
4              ckd
..             ...
395         notckd
396         notckd
397         notckd
398         notckd
399         notckd

[400 rows x 1 columns]

In [12]:
X.shape

(400, 7)

In [13]:
diabetes=pd.get_dummies(X['dm'],drop_first=True)
caad=pd.get_dummies(X['cad'],drop_first=True)
appete=pd.get_dummies(X['appet'],drop_first=True)

In [14]:
X=pd.concat([X,diabetes,caad,appete],axis=1)

In [15]:
X=X.drop(['dm','cad','appet'],axis=1)

In [16]:
print(X)

       bp     sg   sc  hemo  \tyes   yes  no  yes  no  yes  poor
id
0    80.0  1.020  1.2  15.4      0     0   0    1   1    0     0
1    50.0  1.020  0.8  11.3      0     0   1    0   1    0     0
2    80.0  1.010  1.8   9.6      0     0   0    1   1    0     1
3    70.0  1.005  3.8  11.2      0     0   1    0   1    0     1
4    80.0  1.010  1.4  11.6      0     0   1    0   1    0     0
..    ...    ...  ...   ...    ...   ...  ..  ...  ..  ...   ...
395  80.0  1.020  0.5  15.7      0     0   1    0   1    0     0
396  70.0  1.025  1.2  16.5      0     0   1    0   1    0     0
397  80.0  1.020  0.6  15.8      0     0   1    0   1    0     0
398  60.0  1.025  1.0  14.2      0     0   1    0   1    0     0
399  80.0  1.025  1.1  15.8      0     0   1    0   1    0     0

[400 rows x 11 columns]

In [17]:
classcify=pd.get_dummies(y['classification'],drop_first=True)
y=y.drop(['classification'],axis=1)
y=pd.concat([y,classcify],axis=1)
#from sklearn.preprocessing import LabelEncoder
#le = LabelEncoder()
#y = le.fit_transform(y)

In [18]:
print(y)

     ckd\t  notckd
id
0        0       0
1        0       0
2        0       0
3        0       0
4        0       0
..     ...     ...
395      0       1
396      0       1
397      0       1
398      0       1
399      0       1

[400 rows x 2 columns]

In [19]:
y1=y.iloc[:,:-1]

In [20]:
y1

     ckd\t
id
0        0
1        0
2        0
3        0
4        0
..     ...
395      0
396      0
397      0
398      0
399      0

[400 rows x 1 columns]

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test ,y1_train, y1_test = train_test_split(X, y1, test_size = 0.2, random_state = 1)

In [22]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train  = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [23]:
import tensorflow as tf
import keras
from keras.models import Sequential
from keras.layers import Dense

In [24]:
classifier=Sequential()

In [25]:
classifier.add(Dense(activation="relu",input_dim=11,units=6,kernel_initializer="uniform"))

In [26]:
classifier.add(Dense(activation="relu",units=6,kernel_initializer="uniform"))

In [27]:
classifier.add(Dense(activation="sigmoid",units=1,kernel_initializer="uniform"))

In [28]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [29]:
classifier.fit(X_train ,y1_train, batch_size=7 ,epochs=20)

Epoch 1/20
46/46 [==============================] - 0s 9ms/step - loss: nan - accuracy: 0.9906
Epoch 2/20
46/46 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.9937
Epoch 3/20
46/46 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.9937
Epoch 4/20
46/46 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.9937
Epoch 5/20
46/46 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.9937
Epoch 6/20
46/46 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.9937
Epoch 7/20
46/46 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.9937
Epoch 8/20
46/46 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.9937
Epoch 9/20
46/46 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.9937
Epoch 10/20
46/46 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.9937
Epoch 11/20
46/46 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.9937
Epoch 12/20
46/46 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.9937
Epoch 13/20
46/46 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.9937
Epoch 14/20
46/46 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.9937
Epoch 15/20
46/46 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.9937
Epoch 16/20
46/46 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.9937
Epoch 17/20
46/46 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.9937
Epoch 18/20
46/46 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.9937
Epoch 19/20
46/46 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.9937
Epoch 20/20
46/46 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.9937

In [30]:

y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

c:\users\nidhi\pycharmprojects\example\venv\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in greater

In [31]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 6)                 72
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [33]:
from sklearn.metrics import confusion_matrix,accuracy_score

cm=confusion_matrix(y1_test,y_pred)

In [34]:
cm

array([[80]], dtype=int64)

In [36]:
accuracy=accuracy_score(y1_test,y_pred)

In [37]:
accuracy

1.0

In [39]:
y_pred

array([[False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False]])